Pi-Flow.json
[{"id":"aede8839.b747b8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"4f873d18.a388d4","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"418a77d6.e11658","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"e5f72f3.47b75d","type":"ui_group","z":"","name":"Default","tab":"1946c0b2.2418af","disp":true,"width":"6","collapse":false},{"id":"1946c0b2.2418af","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"46f9c65.750b738","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"89723f16.757c8","type":"dropbox-config","z":"","name":""},{"id":"afd4623b.50002","type":"wiotp-credentials","z":"","name":"","org":"iod6ag","serverName":"","devType":"pi","devId":"camera","keepalive":"60","cleansession":true,"tls":"","usetls":false},{"id":"4834fc41.82ead4","type":"ui_group","z":"","name":"Image","tab":"d64099c0.25ed28","order":5,"disp":true,"width":"6"},{"id":"d64099c0.25ed28","type":"ui_tab","z":"","name":"3D Moving Device","icon":"dashboard"},{"id":"85383b31.5cc3c8","type":"camerapi-takephoto","z":"aede8839.b747b8","filemode":"2","filename":"","filedefpath":"1","filepath":"","fileformat":"jpeg","resolution":"4","rotation":"0","fliph":"0","flipv":"0","brightness":"50","contrast":"0","sharpness":"0","quality":"80","imageeffect":"none","exposuremode":"auto","iso":"0","agcwait":"1.0","led":"0","awb":"auto","name":"","x":280,"y":140,"wires":[["8e3c16d5.518b28"]]},{"id":"8e3c16d5.518b28","type":"debug","z":"aede8839.b747b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":490,"y":140,"wires":[]},{"id":"f1e7ec20.ca2e7","type":"inject","z":"aede8839.b747b8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":60,"wires":[["85383b31.5cc3c8"]]},{"id":"f635be80.a3eee","type":"exec","z":"4f873d18.a388d4","command":"raspistill","addpay":false,"append":"-w 320 -h 240 -o -","useSpawn":"false","timer":"","oldrc":false,"name":"","x":220,"y":180,"wires":[["73f55c56.89fcd4","7b3966a1.cdc068","9067fafb.c6e488","76a8785c.07c098"],[],[]]},{"id":"c8abea9b.0de978","type":"template","z":"4f873d18.a388d4","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<img width=\"320px\" height=\"240px\" src=\"data:image/jpg;base64,{{{payload}}}\">","output":"str","x":510,"y":180,"wires":[["227ab133.263a0e"]]},{"id":"227ab133.263a0e","type":"ui_template","z":"4f873d18.a388d4","group":"e5f72f3.47b75d","name":"","order":0,"width":"6","height":"5","format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":640,"y":180,"wires":[[]]},{"id":"73f55c56.89fcd4","type":"base64","z":"4f873d18.a388d4","name":"","action":"str","property":"payload","x":380,"y":180,"wires":[["c8abea9b.0de978"]]},{"id":"5f1fe826.36bc08","type":"ui_button","z":"4f873d18.a388d4","name":"","group":"e5f72f3.47b75d","order":1,"width":0,"height":0,"passthru":false,"label":"button","tooltip":"","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"num","topic":"","x":80,"y":80,"wires":[["f635be80.a3eee","2d17b3a5.d75f8c"]]},{"id":"7b3966a1.cdc068","type":"debug","z":"4f873d18.a388d4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":420,"y":300,"wires":[]},{"id":"b6b0431c.d8c39","type":"rpi-gpio out","z":"aede8839.b747b8","name":"","pin":"8","set":true,"level":"0","freq":"","out":"out","x":360,"y":280,"wires":[]},{"id":"61ae0f7.dbbfdf","type":"inject","z":"aede8839.b747b8","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":280,"wires":[["b6b0431c.d8c39"]]},{"id":"f5074dbf.a502c","type":"http in","z":"aede8839.b747b8","name":"","url":"/data","method":"post","upload":true,"swaggerDoc":"","x":140,"y":420,"wires":[["ef956eec.0d224"]]},{"id":"ef956eec.0d224","type":"debug","z":"aede8839.b747b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":370,"y":420,"wires":[]},{"id":"2d17b3a5.d75f8c","type":"rpi-gpio out","z":"4f873d18.a388d4","name":"","pin":"7","set":false,"level":"0","freq":"75","out":"pwm","x":480,"y":80,"wires":[]},{"id":"7f96dbfe.a863e4","type":"http request","z":"4f873d18.a388d4","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"http://hundredacrewood.mybluemix.net/data","tls":"","proxy":"","authType":"","x":290,"y":420,"wires":[["4d7e5a9e.0e1794","6175aeb4.11a"]]},{"id":"4d7e5a9e.0e1794","type":"http response","z":"4f873d18.a388d4","name":"","statusCode":"","headers":{},"x":470,"y":420,"wires":[]},{"id":"dbe2e5d2.3918b8","type":"inject","z":"4f873d18.a388d4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":340,"wires":[["994007fa.ed4498"]]},{"id":"994007fa.ed4498","type":"function","z":"4f873d18.a388d4","name":"","func":"msg.payload={\"filename\":\"IMG_5818.JPG\"}\nreturn msg;","outputs":1,"noerr":0,"x":120,"y":420,"wires":[["7f96dbfe.a863e4"]]},{"id":"6175aeb4.11a","type":"debug","z":"4f873d18.a388d4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":460,"y":380,"wires":[]},{"id":"fa4ac34d.6215e","type":"debug","z":"4f873d18.a388d4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":660,"y":340,"wires":[]},{"id":"821fcf5e.4ed85","type":"inject","z":"4f873d18.a388d4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":260,"wires":[["f635be80.a3eee"]]},{"id":"9067fafb.c6e488","type":"dropbox out","z":"4f873d18.a388d4","dropbox":"89723f16.757c8","filename":"/IMG_MVK.JPG","localFilename":"","name":"","x":640,"y":260,"wires":[]},{"id":"9ac6d8e4.dca4a8","type":"wiotp in","z":"4f873d18.a388d4","authType":"d","deviceKey":"afd4623b.50002","deviceType":"","deviceId":"","command":"+","commandType":"g","qos":0,"name":"from hunderacer","x":150,"y":500,"wires":[["cffabfba.2236c","d316f010.9dda1"]]},{"id":"cffabfba.2236c","type":"debug","z":"4f873d18.a388d4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":350,"y":500,"wires":[]},{"id":"d316f010.9dda1","type":"switch","z":"4f873d18.a388d4","name":"","property":"payload.command","propertyType":"msg","rules":[{"t":"eq","v":"go","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":320,"y":580,"wires":[["f635be80.a3eee"],[]]},{"id":"b9c6c240.98812","type":"wiotp out","z":"4f873d18.a388d4","authType":"d","qs":"false","qsDeviceId":"","deviceKey":"afd4623b.50002","deviceType":"","deviceId":"","event":"event","format":"json","qos":"","name":"","x":570,"y":540,"wires":[]},{"id":"76a8785c.07c098","type":"function","z":"4f873d18.a388d4","name":"","func":"msg.payload={\"picamera\":\"done\", \"photo\":\"done\"}\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":500,"wires":[["b9c6c240.98812"]]},{"id":"eed3dce1.61184","type":"dropbox","z":"418a77d6.e11658","dropbox":"89723f16.757c8","filename":"/IMG_MVK.JPG","name":"","x":340,"y":140,"wires":[["a4d7015e.a5894","9ac9435f.73dee","f1f77011.6e9bb"]]},{"id":"8f770970.392978","type":"inject","z":"418a77d6.e11658","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":110,"y":140,"wires":[["eed3dce1.61184"]]},{"id":"84853dca.bf2c2","type":"debug","z":"418a77d6.e11658","name":"","active":true,"console":"false","complete":"true","x":1060,"y":140,"wires":[]},{"id":"a4d7015e.a5894","type":"base64","z":"418a77d6.e11658","name":"","action":"str","property":"payload","x":630,"y":140,"wires":[["b1a14124.353a2"]]},{"id":"b1a14124.353a2","type":"template","z":"418a77d6.e11658","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<img width=\"320px\" height=\"240px\" src=\"data:image/jpeg;base64,{{{msg.payload}}}\">","output":"str","x":780,"y":140,"wires":[["e41105e2.ea8d08"]]},{"id":"e41105e2.ea8d08","type":"ui_template","z":"418a77d6.e11658","group":"4834fc41.82ead4","name":"","order":0,"width":0,"height":0,"format":"<div ng-bind-html=\"msg.payload\"><img width=\"320px\" height=\"240px\" src=\"data:image/jpeg,base64;{{{payload}}}\"></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":910,"y":140,"wires":[["84853dca.bf2c2"]]},{"id":"9ac9435f.73dee","type":"debug","z":"418a77d6.e11658","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":650,"y":220,"wires":[]},{"id":"a551e0a8.4a0f3","type":"template","z":"418a77d6.e11658","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<img width=\"320px\" height=\"240px\" src=\"data:image/jpg;base64,{{{payload}}}\">","output":"str","x":800,"y":360,"wires":[["5c16a598.2b827c"]]},{"id":"5c16a598.2b827c","type":"ui_template","z":"418a77d6.e11658","group":"4834fc41.82ead4","name":"","order":0,"width":"6","height":"5","format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":930,"y":360,"wires":[[]]},{"id":"f1f77011.6e9bb","type":"base64","z":"418a77d6.e11658","name":"","action":"str","property":"payload","x":670,"y":360,"wires":[["a551e0a8.4a0f3"]]}]