Remote-Flow.json
[{"id":"51a47620.4cc268","type":"tab","label":"PillSafety UI","disabled":false,"info":""},{"id":"c4a937ba.ef5118","type":"tab","label":"imaging","disabled":false,"info":""},{"id":"718bff4f.2121e","type":"ui_tab","z":"","name":"Pill Safety","icon":"dashboard","disabled":false,"hidden":false},{"id":"b5ea143d.43e7b8","type":"ui_group","z":"","name":"Pill Safety","tab":"718bff4f.2121e","disp":true,"width":"6","collapse":false},{"id":"d8de10a8.e92a2","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Pill Safety","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"a28b65a0.397b48","type":"dropbox-config","z":"","name":"clam4"},{"id":"8e7a4a5d.b3ecb8","type":"ibmiot","z":"","name":"local org","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"57e7d10e.1a724","type":"ibmiot","z":"","name":"org test2","keepalive":"60","serverName":"","cleansession":true,"appId":"mvk","shared":false},{"id":"4a575ab5.25f144","type":"ui_spacer","name":"spacer","group":"b5ea143d.43e7b8","order":2,"width":1,"height":1},{"id":"db5e1774.dd1488","type":"ui_spacer","name":"spacer","group":"b5ea143d.43e7b8","order":4,"width":1,"height":1},{"id":"c3947102.e0334","type":"ui_group","z":"","name":"Image","tab":"2c472b4c.abb354","order":5,"disp":true,"width":"6"},{"id":"2c472b4c.abb354","type":"ui_tab","z":"","name":"3D Moving Device","icon":"dashboard"},{"id":"adc61cdd.4dfa2","type":"ui_group","z":"","name":"Image","tab":"7780c196.3dd22","order":5,"disp":true,"width":"6"},{"id":"7780c196.3dd22","type":"ui_tab","z":"","name":"3D Moving Device","icon":"dashboard"},{"id":"e7eec7ad.612f98","type":"visual-recognition-util-v3","z":"c4a937ba.ef5118","name":"List Classifiers","vr-service-endpoint":"https://gateway.watsonplatform.net/visual-recognition/api","image-feature":"retrieveClassifiersList","x":380,"y":40,"wires":[["422559f5.2e6398"]]},{"id":"5ff3863e.52c048","type":"inject","z":"c4a937ba.ef5118","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":40,"wires":[["e7eec7ad.612f98"]]},{"id":"422559f5.2e6398","type":"debug","z":"c4a937ba.ef5118","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"result","targetType":"msg","x":770,"y":40,"wires":[]},{"id":"97a5eb15.4ece58","type":"function","z":"c4a937ba.ef5118","name":"set classifier_ids","func":"msg.params={};\nmsg.params={\"classifier_ids\":[\"visualrecog_1483219758\"],\"threshold\":0};\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":140,"wires":[["edc19bb8.e45298"]]},{"id":"e9a99a78.68db58","type":"visual-recognition-v3","z":"c4a937ba.ef5118","name":"","vr-service-endpoint":"https://gateway.watsonplatform.net/visual-recognition/api","image-feature":"classifyImage","lang":"en","x":670,"y":140,"wires":[["34c7c583.3eb8da","422559f5.2e6398"]]},{"id":"c300117a.55be4","type":"inject","z":"c4a937ba.ef5118","name":"","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"x":70,"y":120,"wires":[[]]},{"id":"6d5b1890.77b2b8","type":"dropbox","z":"c4a937ba.ef5118","dropbox":"a28b65a0.397b48","filename":"IMG_5800.jpg","name":"gabriel (false)","x":110,"y":360,"wires":[[]]},{"id":"c60514d0.f68f08","type":"camerapi-takephoto","z":"c4a937ba.ef5118","filemode":"1","filename":"photo1.JPEG","filedefpath":"0","filepath":"/home/pi/Pictures/","fileformat":"jpeg","resolution":"1","rotation":"0","fliph":"0","flipv":"0","brightness":"50","contrast":"0","sharpness":"0","quality":"80","imageeffect":"none","exposuremode":"auto","iso":"0","agcwait":"1.0","led":"0","awb":"auto","name":"Take Photo","x":350,"y":400,"wires":[[]]},{"id":"edcfe10c.b786e","type":"ui_text","z":"51a47620.4cc268","group":"b5ea143d.43e7b8","order":1,"width":0,"height":0,"name":"","label":"Welcome to Pill Safety! To access your pillbox, please take a photo by staring at the camera until the light disappears.","format":"","layout":"row-spread","x":550,"y":280,"wires":[]},{"id":"c2ba7471.dd3ed8","type":"ui_text","z":"51a47620.4cc268","group":"b5ea143d.43e7b8","order":5,"width":0,"height":0,"name":"","label":"Created by Hundred Acre Wood @ HackMIT 2019","format":"","layout":"row-spread","x":380,"y":420,"wires":[]},{"id":"9eeb2820.40eb98","type":"switch","z":"c4a937ba.ef5118","name":"","property":"score","propertyType":"msg","rules":[{"t":"lte","v":".65","vt":"str"},{"t":"gt","v":".65","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":550,"y":220,"wires":[["e606f8a8.982fd8"],["d707092c.933f78"]]},{"id":"34c7c583.3eb8da","type":"function","z":"c4a937ba.ef5118","name":"check ifIsUser","func":"var c_object = msg.result.images[0].classifiers[0].classes[0];\n//result.images[0].classifiers[0].classes[0].class\n//var e_object = msg.result.images[0].classifiers[0].classes[1];\n//var r_object = msg.result.images[0].classifiers[0].classes[2];\n//var t_object = msg.result.images[0].classifiers[0].classes[3];\n\n//var closestMatch = Math.max(c_object, e_object, r_object, t_object);\n\n//var idArray =[c_object.score, e_object.score, r_object.score, t_object.score]\n\n//var max, temp = Math.max.apply(Math, idArray);\n\n//idArray.some(function(v){ return temp == v? max = v : false});\n\n//msg.score = max;\n\n//if(c_object.score == max){\n//    msg.class = c_object.class\n//} else if (e_object.score == max){\n    //msg.class = e_object.class\n//} else if (r_object.score == max){\n    //msg.class = r_object.class\n//} else if (t_object.score == max){\n    //msg.class = t_object.class\n//}\n\nmsg.score = c_object.score\nmsg.class = c_object.class\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":220,"wires":[["9eeb2820.40eb98","97a988ea.263498"]]},{"id":"97a988ea.263498","type":"debug","z":"c4a937ba.ef5118","name":"value?","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":350,"y":280,"wires":[]},{"id":"e606f8a8.982fd8","type":"change","z":"c4a937ba.ef5118","name":"failed","rules":[{"t":"set","p":"payload","pt":"msg","to":"Verification failed. Please try again.","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":220,"wires":[["ec2f5aba.1209c8"]]},{"id":"d707092c.933f78","type":"change","z":"c4a937ba.ef5118","name":"unlocked","rules":[{"t":"set","p":"payload","pt":"msg","to":"Your box is now unlocked.","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":260,"wires":[["ec2f5aba.1209c8"]]},{"id":"ec2f5aba.1209c8","type":"ui_toast","z":"c4a937ba.ef5118","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","topic":"","name":"","x":910,"y":240,"wires":[[]]},{"id":"edc19bb8.e45298","type":"dropbox","z":"c4a937ba.ef5118","dropbox":"a28b65a0.397b48","filename":"/IMG_MVK.JPG","name":"RPI","x":450,"y":140,"wires":[["e9a99a78.68db58","56426be7.358414"]]},{"id":"24d7f27e.9dec1e","type":"http response","z":"c4a937ba.ef5118","name":"","statusCode":"","headers":{},"x":590,"y":460,"wires":[]},{"id":"29c43c30.384004","type":"http in","z":"c4a937ba.ef5118","name":"","url":"/data","method":"post","upload":false,"swaggerDoc":"","x":190,"y":460,"wires":[["2f8b71b9.abf6ee"]]},{"id":"5cdebce0.13b544","type":"http request","z":"c4a937ba.ef5118","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"","authType":"","x":330,"y":520,"wires":[[]]},{"id":"8d408bfc.9588b8","type":"debug","z":"c4a937ba.ef5118","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":550,"y":400,"wires":[]},{"id":"2f8b71b9.abf6ee","type":"function","z":"c4a937ba.ef5118","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":460,"wires":[["24d7f27e.9dec1e","8d408bfc.9588b8"]]},{"id":"56426be7.358414","type":"debug","z":"c4a937ba.ef5118","name":"dropbox","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":660,"y":340,"wires":[]},{"id":"52848652.61c678","type":"ibmiot in","z":"c4a937ba.ef5118","authentication":"apiKey","apiKey":"8e7a4a5d.b3ecb8","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"Incoming","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":150,"y":580,"wires":[["a545071d.477998","f0bb6a8d.a639c8"]]},{"id":"6cfe8f68.8f612","type":"ibmiot out","z":"c4a937ba.ef5118","authentication":"apiKey","apiKey":"57e7d10e.1a724","outputType":"cmd","deviceId":"camera","deviceType":"pi","eventCommandType":"cmd","format":"json","data":"msg.payload","qos":0,"name":"IBM IoT","service":"registered","x":500,"y":640,"wires":[]},{"id":"a545071d.477998","type":"debug","z":"c4a937ba.ef5118","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":290,"y":580,"wires":[]},{"id":"1f6bfefe.34dbf1","type":"function","z":"c4a937ba.ef5118","name":"","func":"msg.payload={\"command\":\"go\"}\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":640,"wires":[["6cfe8f68.8f612"]]},{"id":"1b93aeae.3d6701","type":"ui_button","z":"c4a937ba.ef5118","name":"","group":"b5ea143d.43e7b8","order":3,"width":0,"height":0,"passthru":false,"label":"Take a Picture","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":180,"y":640,"wires":[["1f6bfefe.34dbf1"]]},{"id":"7d8dc97f.95aa48","type":"dropbox","z":"c4a937ba.ef5118","dropbox":"a28b65a0.397b48","filename":"/IMG_MVK.JPG","name":"","x":400,"y":840,"wires":[["2da8db58.8cc624"]]},{"id":"5234d64a.52f708","type":"inject","z":"c4a937ba.ef5118","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":"","x":180,"y":840,"wires":[["7d8dc97f.95aa48"]]},{"id":"1d7c2466.6cdd0c","type":"template","z":"c4a937ba.ef5118","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<img width=\"320px\" height=\"240px\" src=\"data:image/jpg;base64,{{{payload}}}\">","output":"str","x":760,"y":840,"wires":[["9b098ba8.e7b2b8"]]},{"id":"9b098ba8.e7b2b8","type":"ui_template","z":"c4a937ba.ef5118","group":"b5ea143d.43e7b8","name":"","order":0,"width":"6","height":"5","format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":890,"y":840,"wires":[[]]},{"id":"2da8db58.8cc624","type":"base64","z":"c4a937ba.ef5118","name":"","action":"str","property":"payload","x":630,"y":840,"wires":[["1d7c2466.6cdd0c"]]},{"id":"f0bb6a8d.a639c8","type":"switch","z":"c4a937ba.ef5118","name":"","property":"payload.picamera","propertyType":"msg","rules":[{"t":"eq","v":"done","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":750,"y":580,"wires":[["52b059fd.b46248"],[]]},{"id":"52b059fd.b46248","type":"delay","z":"c4a937ba.ef5118","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":520,"y":740,"wires":[["7d8dc97f.95aa48","97a5eb15.4ece58"]]}]